.about-us {
  &__content {
    position: relative;
  }

  &__heading {
    margin: 0 0 24px;

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__description {
    margin: 0 0 40px;

    @include onTablet {
      margin-bottom: 70px;
    }

    @include onDesktop {
      margin-bottom: 140px;
    }
  }

  &__statistic {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 48px;

    &--margin-bottom--0px {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 70px;
    }

    &--tablet-margin-bottom--0px {
      @include onTablet {
        margin-bottom: 0;
      }
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__statistic-number {
    font-size: 90px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $colorOrange;
  }

  &__statistic-description {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &__background {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    z-index: -1;

    height: 485px;

    background-image: url(../images/about-us.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      top: 42px;
      left: 58px;
    }

    @include onDesktop {
      top: 0;
      left: 220px;

      height: 673px;
    }
  }
}
